@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Members>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
    var memberService = ApplicationContext.Current.Services.MemberService;
    var members = memberService.GetMembersByGroup("Active");
   
}
//Members section
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            @foreach (var member in members) {
                String[] skills = member.GetValue("skills").ToString().Split(',');
                string skillString = string.Join(", ", from skill in skills select umbraco.library.GetPreValueAsString(Convert.ToInt32(skill)));
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    @Umbraco.TypedMedia(member.GetValue("photo"))
                    <div class="features-icons-icon d-flex">
                    



                    </div>
                    <h3>@member.Name</h3>
                    <p class="lead mb-0">
                        @member.GetValue("address")<br />
                        @member.GetValue("zip"), @member.GetValue("city")<br>
                        @member.Email<br />
                        <span>@skillString</span>
                    </p>
                </div>
            </div>
            }
            </div>
        </div>
 </section>